#cr_contenedor_principal #cr_comprar_pedido #cr_visa, #cr_contenedor_principal #cr_comprar_pedido #cr_paypal, #cr_contenedor_principal #cr_comprar_pedido #cr_mastercard, #cr_contenedor_principal #cr_comprar_pedido #cr_carrito, #cr_contenedor_principal #cr_caja_producto .cr_basura, #cr_contenedor_principal #cr_caja_producto .cr_corazon, * header nav #menu-iconers a, * header nav #menu-iconers i {
  font-size: 1em;
  color: black;
  cursor: pointer;
}

* {
  font-family: sans-serif, Arial, Verdana, Tahoma;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
* header {
  background-image: linear-gradient(rgb(56, 115, 115), rgba(56, 115, 115, 0.8), rgba(255, 255, 255, 0.5)), url("./img/fondo2.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0rem;
  background-size: cover;
}
* header nav {
  background-color: transparent;
  font-weight: 900;
}
* header nav #logo {
  background-image: url("./img/logo.png");
  width: 20%;
  height: 5rem;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2rem;
  background-color: transparent;
  margin: 0rem;
}
* header nav #buscador {
  width: 15rem;
  height: 2rem;
}
* header nav #menu-interior {
  width: 40%;
}
* header nav #menu-iconers {
  width: 20%;
}
* header #frase_imaginacion {
  font-size: 45px;
  font-family: Blackadder ITC;
  padding-top: 6rem;
  padding-left: 5rem;
}
* footer {
  padding-top: 4rem;
  background-color: #387373;
}
* footer .btn {
  background-color: #387373;
  width: 7rem;
  color: white;
  font-weight: 900;
}
* footer .btn:hover {
  background-color: #E4F2E7;
  color: black;
}
* footer #appel-store {
  background-image: url("./img/appel.png");
  width: 35%;
  height: 7rem;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
}
* footer #play-store {
  background-image: url("./img/play-store.png");
  width: 35%;
  height: 7rem;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1rem;
}
* footer #copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

#cr_contenedor_principal #cr_comprar_pedido #cr_precio_total, #cr_contenedor_principal #cr_caja_producto .cr_precio_producto, #cr_contenedor_principal #cr_caja_producto #cr_precio_cantidad {
  font-weight: bold;
  font-size: large;
}

header {
  background-image: linear-gradient(rgb(56, 115, 115), rgba(56, 115, 115, 0.8), rgba(255, 255, 255, 0.5)), url("");
  width: 100%;
  height: 100px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0rem;
}

#cr_contenedor_principal {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
#cr_contenedor_principal #cr_caja_producto {
  width: 40rem;
}
#cr_contenedor_principal #cr_caja_producto .cr_imagen_producto {
  background-image: url("./img/guitarra1.jpg");
  width: 20%;
  height: 10rem;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0rem;
}
#cr_contenedor_principal #cr_caja_producto .cr_basura, #cr_contenedor_principal #cr_caja_producto .cr_corazon {
  font-size: x-large;
}
#cr_contenedor_principal #cr_caja_producto input {
  height: 2rem;
}
#cr_contenedor_principal #cr_comprar_pedido {
  width: 20rem;
  height: 250px;
}
#cr_contenedor_principal #cr_comprar_pedido #cr_precio_total {
  color: #387373;
}
#cr_contenedor_principal #cr_comprar_pedido #cr_comprar_ahora {
  background-color: #387373;
  width: 12rem;
  color: white;
  font-weight: 900;
  font-weight: bold;
}
#cr_contenedor_principal #cr_comprar_pedido #cr_comprar_ahora:hover {
  background-color: #E4F2E7;
  color: black;
}
#cr_contenedor_principal #cr_comprar_pedido #cr_visa, #cr_contenedor_principal #cr_comprar_pedido #cr_paypal, #cr_contenedor_principal #cr_comprar_pedido #cr_mastercard {
  font-size: x-large;
}/*# sourceMappingURL=carrito.css.map */