//VARIABLES
$color_verdeCl:#E4F2E7; //Este es el verde clarito
$color_VerdeOsc:#387373;
$color_gris:#827a7c;
$color_negro:black;
$color_blanco:white;


//MIXINS
@mixin button ($bg-color:$color_VerdeOsc, $wth: 30rem, $colorletra:$color_blanco){
    background-color: $bg-color;
    width: $wth;
    color: $colorletra ;

    &:hover{
        background-color: $color_verdeCl;
        color: $color_negro ;
    }
}

@mixin img ($url:url("./img/guitarra1.jpg"),$wth:100%,$hght: 15rem){

    background-image: $url;

    width: $wth;
    height: $hght;
    background-position: center;
    background-color: $color_blanco;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem;
}


//CLASES

%precio{
    font-weight: bold;
    font-size: large;
}

%iconos{
    font-size: 1.5em;
}


#cr_caja_producto{
    width: 60%;

    #cr_imagen_producto{

        @include img($wth:80%,$hght: 10rem);
    }

    #cr_precio_producto{
        @extend %precio;
    }
    #cr_precio_cantidad{
        @extend %precio;
    }

    #cr_basura,#cr_corazon{
        @extend %iconos;
    }
   
}

#cr_comprar_pedido{
    
    height:225px;
    width: 40% ;

    #cr_carrito{
        @extend %iconos;
    }

    #cr_precio_total{
        @extend %precio;
        color:$color_VerdeOsc;

    }

    #cr_comprar_ahora{
        @include button ( $wth: 12rem);
        font-weight: bold;

    }

    #cr_visa, #cr_paypal,#cr_mastercard{
        @extend %iconos;
    }
}

