@import "--parcial";

// header{   
//     @include img($url: (linear-gradient( rgba(56, 115, 115, 1),rgba(56, 115, 115, 0.8), rgb(255, 255, 255,0.5)),
//     url("")), $wth:100%,$hght: 100px,$margin:0rem);
//  }

 #cont-radio-check{
    border: 2px solid $color_VerdeOsc;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 3rem;

    #checkboxcatalogo{
        padding: 4rem;

    }

 }


