@import "--parcial";

// header{   
//     @include img($url: (linear-gradient( rgba(56, 115, 115, 1),rgba(56, 115, 115, 0.8), rgb(255, 255, 255,0.5)),
//     url("")), $wth:100%,$hght: 100px,$margin:0rem);
//  }

 #cont-radio-check{
    border: 2px solid $color_VerdeOsc;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-top: 3rem;
 }

 #cuerda,#viento,#percusion,#electronico{
    width: 15%;
}

 #cheks-electronico{
    width: 50%;
 }

    #ico-cuerda{
        @include img($url:url("./img/ico-guitarra.jpeg"),$wth:30%,$hght: 50px,$margin:0rem);
        background-size: cover;
    }
    #ico-viento{
        @include img($url:url("./img/trompa-ico.jpg"),$wth:30%,$hght: 50px,$margin:0rem);
    }

    #ico-percusion{
        @include img($url:url("./img/percusion-ico.jpg"),$wth:20%,$hght: 50px,$margin:0rem);
    }

    #ico-electronico{
        @include img($url:url("./img/electronico1.webp"),$wth:20%,$hght: 50px,$margin:0rem);
    }