@import"--parcial.scss";

header{   
    @include img($url: (linear-gradient( rgba(56, 115, 115, 1),rgba(56, 115, 115, 0.8), rgb(255, 255, 255,0.5)),
    url("")), $wth:100%,$hght: 100px,$margin:0rem);
} 

#ck_inputnombre, #ck_inputapellidos, #ck_inputTl, #ck_inputCity, #ck_inputdireccion, #ck_inputCp, #ck_inputEmail, #ck_inputPassword {
    background-color: $color_verdeCl;
}
#ck_btn-Tarjeta, #ck_btn-Bizum, #ck_btn-Paypal, #ck_btnpedido{
    background-color: #387373
    
}

#ck_imgBizum {
    width: 15px;
}


    


