@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>
@import-normalize;

*{
    box-sizing: border-box;
}
nav{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header {
    background-color: rgb(160, 44, 44);
    height: 110px;
    padding: 10px 0px;
}
.lang-menu{
    margin-top: 25px;
}

.selected-lang{
    cursor: pointer;

}
.selected-lang:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(./img/ES.png);
}