@import "--parcial";


header{   

    #inicio,#catalogo{
        display: block;
    }
    #ofertas,#novedades{
        display: none;
    }
 }

i{
   // width: 10%;
    font-size: x-large;
    padding-right: 0.5rem;
}