

img{
    width: 50%;
    /* height: 5rem; */
}

.btn{
    background-color:#387373;
}

.btn:hover{
    background-color: rgb(84, 7, 82);
}

.img{
    width: 80%;
    height: 15rem;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem;
}

#img1{
    background-image: url("./img/guitarra1.jpg");
}

#img2{
    background-image: url("./img/piano.jpeg");

}

#img3{
    background-image: url("./img/tambor.jpeg");
    

}
#img1{
    background-image: url("./img/guitarra1.jpg");
}

#img2{
    background-image: url("./img/piano.jpeg");

}

#img3{
    background-image: url("./img/tambor.jpeg");
    

}
#img4{
    background-image: url("./img/img4.jpg");
}

#img5{
    background-image: url("./img/img5.jpg");

}

#img6{
    background-image: url("./img/img6.jpg");
    

}
#img7{
    background-image: url("./img/img7.jpg");
}

#img8{
    background-image: url("./img/img8.jpg");

}

#img9{
    background-image: url("./img/img9.jpg");
    

}
#img10{
    background-image: url("./img/img10.jpg");
}

#img11{
    background-image: url("./img/img11.jpg");

}

#img12{
    background-image: url("./img/img12.jpg");
    

}
#img13{
    background-image: url("./img/img13.jpg");
}

#img14{
    background-image: url("./img/img14.jpg");

}

#img15{
    background-image: url("./img/img15.jpg");
    

}

main{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.radiocatalogo {
    padding-top: 1.5rem;
    height: 5rem;
    border: 2px solid #387373;
}
.checkboxcatalogo{
    margin-bottom: 2rem;
}
