

img{
    width: 50%;
    /* height: 5rem; */
}

.btn{
    background-color:#387373;
}

.btn:hover{
    background-color: rgb(84, 7, 82);
}

.img{
    width: 80%;
    height: 15rem;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem;
}

#img1{
    background-image: url("./img/guitarra1.jpg");
}

#img2{
    background-image: url("./img/piano.jpeg");

}

#img3{
    background-image: url("./img/tambor.jpeg");
    

}

main{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  
}
.radiocatalogo {
    padding-top: 1.5rem;
    height: 5rem;
    border: 2px solid #387373;
}
.checkboxcatalogo{
    margin-bottom: 2rem;
}